{% extends "base.html" %}

{% block title %}ForMen — Головна{% endblock %}

{% block content %}
  <div class="hero">
    Нова колекція весна-літо
  </div>

  <section class="section">
    <h2>Популярне</h2>
  </section>

  <section class="products">
    <div class="product-card">
      <img src="https://static.zara.net/assets/public/8e67/604f/b26a436db63b/f897ae28618a/00975500250-p/00975500250-p.jpg?ts=1733413858898&w=1500" alt="Сорочка">
      <p>Сорочка біла — 999 грн</p>
    </div>
    <div class="product-card">
      <img src="https://static.zara.net/assets/public/7ca2/e25d/956f4a089445/ae26876862ac/04133752800-p/04133752800-p.jpg?ts=1736327154954&w=1500" alt="Пальто">
      <p>Пальто осіннє — 1899 грн</p>
    </div>
    <div class="product-card">
      <img src="https://static.zara.net/assets/public/6eb0/ea2d/d70b4e0e8abe/8319a5298df5/04260536826-p/04260536826-p.jpg?ts=1747381717793&w=1500" alt="Костюм">
      <p>Чоловічий костюм — 2799 грн</p>
    </div>
  </section>
{% endblock %}


